{% extends 'base.html.twig' %}

{% block title %}New Lounge{% endblock %}

{% block body %}
    <h1>Create new Lounge</h1>

    {{ include('lounge/_form.html.twig') }}

    <a href="{{ path('app_lounge_index') }}">back to list</a>
{% endblock %}
