{% extends 'base.html.twig' %}


{% block content_title %}Show Page{% endblock %}

{% block body %}

    <h1>Stack List</h1>

      {% dump stacks %}

      <table class="table">
          <tbody>
            {% for stack in stacks %}
                <li>
                    <a href="{{path('stack_show', {'id': stack.id}) }}"> {{stack.name}}</a>
                </li>
            {% endfor %}

            </tbody>
{% endblock %}

