{% extends 'base.html.twig' %}

{% block content_title %}Show Page{% endblock %}

{% block body %}

    <h1>Chair List</h1>

      {% dump chairs %}

      <table class="table">
          <tbody>
            {% for chair in chairs %}
                <li>
                    <a href="{{path('chair_show', {'id': chair.id})}}"> {{chair.name}}</a>
            {% endfor %}
            </tbody>
{% endblock %}

