{% extends 'base.html.twig' %}

{% block title %}New chair{% endblock %}

{% block body %}
    <h1>Create new Chair</h1>

    {{ include('chair/_form.html.twig') }}

    <a href="{{ path('app_chair') }}">back to list</a>
{% endblock %}
